<template>
  <v-main>
    <Banner />
    <div class="mouse">
      <div class="bg">
        <div class="scroll"></div>
        <v-icon
          class="icon"
          color="white"
          large
          v-if="$mq == 'lg' || $mq == 'md'"
          >mdi-chevron-down</v-icon
        >
        <v-icon class="icon" color="white" x-small v-else
          >mdi-chevron-down</v-icon
        >
      </div>
    </div>
    <Content />
    <Contact />
    <v-footer class="footer-section mt-n10">
      <v-btn class="button-footer" @click="backTop" absolute fab right>
        <v-icon large>mdi-chevron-up</v-icon>
      </v-btn>
    </v-footer>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Banner from "@/components/Banner.vue";
import Content from "@/components/Content.vue";
import Contact from "@/components/Contact.vue";

@Component({
  components: {
    Banner,
    Content,
    Contact,
  },
})
export default class HomePage extends Vue {
  public backTop(): void {
    this.$vuetify.goTo(0);
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins.scss";

.mouse {
  width: 100%;
  position: absolute;
  width: 100%;
  margin-top: -1.5vw;

  .bg {
    margin: 0 auto;
    width: 1.8vw;
    height: 2.8vw;
    background-color: white;
    border-radius: 50px;

    .scroll {
      position: relative;
      width: 15%;
      height: 20%;
      top: 0.4vw;
      margin: 0 auto;
      background-color: black;
      border-radius: 50px;
    }
    .icon {
      width: 1.8vw;
      height: 2vw;
      top: 2vw;
    }
  }
}

.footer-section {
  height: 410px;
  background-color: #363636 !important;
  z-index: 0;

  .button-footer {
    margin-right: 7.448vw;
    width: 4vw;
    height: 4vw;
  }
}
</style>