<template>
  <v-img
    class="banner"
    height="60.5vw"
    src="@/assets/images/banner/background.png"
  >
    <v-row justify="center">
      <div class="banner-card">
        <h2>TRANSISTOR - RED THE SINGER</h2>
        <v-img
          class="card-img"
          max-width="100%"
          lazy-src="@/assets/images/banner/card-lazy.png"
          src="@/assets/images/banner/card-img.png"
        >
          <v-img
            v-for="(item, index) in feathers"
            :key="index"
            :class="'feather-' + item.class"
            max-width="30%"
            :src="require(`@/assets/images/banner/feathers/${item.url}`)"
        /></v-img>
        <v-row class="mt-3" justify="center">
          <v-card flat max-width="48%" color="transparent">
            <v-card-text class="card-text pa-0">
              "Olha, o que quer que você esteja pensando, me faça um favor, não
              solte."
            </v-card-text>
          </v-card>
        </v-row>
      </div>
    </v-row>
  </v-img>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Banner extends Vue {
  private feathers: Array<object> = [
    { class: "left-1", url: "left-1.png" },
    { class: "left-2", url: "left-2.png" },
    { class: "right-1", url: "right-1.png" },
    { class: "right-2", url: "right-2.png" },
  ];
}
</script>

<style lang="scss" scoped>
.banner {
  margin-top: 35px;
  .banner-card {
    position: relative;
    width: 31vw;
    height: 78.5vw;
    margin-top: 10px;
    background: rgb(156, 2, 4);
    background: linear-gradient(
      180deg,
      rgba(156, 2, 4, 0.5) 0%,
      rgba(77, 16, 16, 0.27) 100%
    );
    h2 {
      margin-top: 13px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 0.8vw;
      margin-left: 1.5vw;
      letter-spacing: 0.03rem;
    }

    .card-img {
      overflow: visible;
      width: 93%;
      margin: 0 auto;

      .feather-left-1 {
        bottom: -16vw;
        left: -5vw;
      }
      .feather-left-2 {
        width: 20%;
        bottom: -15.5vw;
        left: -0.5vw;
      }

      .feather-right-1 {
        bottom: -1.5vw;
        right: -22vw;
      }
      .feather-right-2 {
        bottom: -1.5vw;
        right: -25.5vw;
      }
    }

    .card-text {
      text-align: center;
      color: #f0f0f2 !important;
      font-family: "Open Sans", sans-serif;
      text-shadow: 0px 3px 6px #696969;
      font-weight: 400;
      font-size: 1.2vw;
      line-height: 28px;
      letter-spacing: 0.04rem;
    }
  }
}
</style>