<template>
  <v-row no-gutters justify="center" class="content">
    <v-col cols="10">
      <v-carousel
        hide-delimiter-background
        hide-delimiters
        height="55vw"
        v-if="$mq == 'lg' || $mq == 'md'"
      >
        <v-carousel-item v-for="value in 3" :key="value">
          <v-row no-gutters class="carousel-row">
            <v-col
              cols="12"
              lg="3"
              md="3"
              v-for="card in cards"
              :key="card.index"
            >
              <div class="box">
                <div class="box-bg">
                  <div class="box-img">
                    <img
                      :src="require(`@/assets/images/carousel/${card.img}`)"
                    />
                  </div>
                  <v-col cols="12">
                    <p>{{ card.text }}</p>
                  </v-col>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-carousel-item>
      </v-carousel>
      <v-carousel class="mt-n16" hide-delimiters height="90vw" v-else>
        <v-carousel-item v-for="card in cards" :key="card.index">
          <v-row class="carousel-row" align="center" justify="center">
            <v-col cols="5">
              <div class="box">
                <div class="box-bg">
                  <div class="box-img">
                    <img
                      :src="require(`@/assets/images/carousel/${card.img}`)"
                    />
                  </div>
                  <v-col cols="12">
                    <p>{{ card.text }}</p>
                  </v-col>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-carousel-item>
      </v-carousel>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Content extends Vue {
  private cards: Array<object> = [
    {
      id: 0,
      img: "Grant.png",
      text:
        " A Camerata foi apenas os dois no início, e suas fileiras nunca foram destinadas a exceder um número a ser contado em uma mão.",
    },
    {
      id: 1,
      img: "Red.png",
      text:
        "Red, uma jovem cantora, entrou em posse do Transistor. Sendo a poderosa espada falante. O grupo Possessores quer tanto ela quanto o Transistor e está perseguindo implacavelmente a sua procura.",
    },
    {
      id: 2,
      img: "Sybil_2.png",
      text:
        'Sybil é descrita pelo Transistor como sendo os "olhos e ouvidos" da Camerata.',
    },
  ];
}
</script>

<style lang="scss" scoped>
.content {
  height: 59.7vw;
  background-color: #363636;
  justify-content: center;

  .carousel-row {
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
  }
  .box {
    margin: 0 auto;
    margin-top: 200px;
    height: 24.8vw;
    width: 100%;

    .box-bg {
      height: 24.8vw;
      width: 18vw;
      background-color: white;
      border-radius: 1.5vw;

      .box-img {
        height: 81.8%;
        width: 95%;
        margin: 0 auto;
        position: relative;
        top: -110px;
        background-color: #363636;
        border-radius: 4.5vw;
        border: solid white 0.3vw;

        img {
          position: relative;
          right: 4.9%;
          bottom: 4.6vw;
          width: 110%;
        }
      }

      p {
        color: #363636;
        font-size: 0.76vw;
        font-family: "Montserrat", sans-serif;
        margin: -100px 36px 0 36px;
        margin: -6.5vw 1.7vw 0 1.7vw;
      }
    }
  }
}
</style>