<template>
  <v-main class="contact-section">
    <v-row no-gutters justify="center">
      <v-col cols="11" md="8" lg="6" xl="7" class="form-box mt-n10">
        <v-col cols="12" class="form-title"> FORMULÁRIO </v-col>
        <v-col cols="12" class="pa-0"
          ><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p></v-col
        >
        <v-col>
          <!--  FORMULÁRIO PARA VERSÃO DESKTOP -->
          <v-form
            ref="form"
            v-model="form"
            class="pa-6 pt-6 compact-form"
            v-if="$mq == 'lg'"
          >
            <v-col>
              <v-row class="linha">
                <v-text-field
                  v-model="name"
                  required
                  :rules="[
                    (v) => !!v || 'Nome não Preenchido',
                    (v) => /\d*/g.test(v) || 'Nome inválido',
                  ]"
                  dense
                  class="mr-5 input-form"
                  outlined
                  label="Nome"
                  height="3vw"
                  color="#63c7a9"
                ></v-text-field>
                <v-text-field
                  v-model="email"
                  required
                  :rules="[
                    (v) => !!v || 'E-mail não preenchido',
                    (v) => /\w*(?=@\w*\.com)/.test(v) || 'E-mail inválido',
                  ]"
                  dense
                  class="ml-5 input-form"
                  outlined
                  label="E-mail"
                  type="email"
                  height="3vw"
                  color="#63c7a9"
                ></v-text-field>
              </v-row>
            </v-col>
            <v-textarea
              v-model="mensagem"
              required
              :rules="[(v) => !!v || 'Mensagem não preenchida']"
              dense
              outlined
              label="Mensagem"
              color="#63c7a9"
              height="13vw"
            ></v-textarea>
          </v-form>
          <!--  FORMULÁRIO PARA VERSÃO MOBILE -->
          <v-form
            ref="form"
            v-model="form"
            class="pa-6 pt-6 compact-form"
            v-else
          >
            <v-text-field
              required
              v-model="name"
              class="input-form"
              dense
              outlined
              label="Nome"
              height="1vw"
              color="#63c7a9"
            ></v-text-field>
            <v-text-field
              required
              v-model="email"
              class="input-form"
              dense
              outlined
              label="Email"
              type="email"
              height="1vw"
              color="#63c7a9"
            ></v-text-field>
            <v-textarea
              required
              v-model="mensagem"
              dense
              outlined
              label="Mensagem"
              color="#63c7a9"
              height="13vw"
            ></v-textarea>
          </v-form>
          <v-card-actions>
            <v-btn
              class="submit-button"
              color="#63C7A9"
              @click="submit($refs.form)"
              depressed
            >
              Submit
            </v-btn>
          </v-card-actions>
        </v-col>
      </v-col>
    </v-row>
  </v-main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Contact extends Vue {
  private name = "";
  private email = "";
  private mensagem = "";
  public submit(form: any): void {
    if (
      this.name.length > 0 &&
      this.email.length > 0 &&
      this.mensagem.length > 0
    ) {
      form.reset();
      alert("Sua mensagem foi enviada com sucesso");
    } else {
      alert("Verifique os campos e tente novamente");
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/mixins.scss";
.contact-section {
  background: transparent
    linear-gradient(143deg, #7dede2 0%, #58b790 100%) 0% 0% no-repeat
      padding-box;
  height: 37.5vw;
  .form-box {
    background-color: white;
    @include box-shadow(0px 0px 6px #0000004d);
    @include rounded(0.5rem);
    height: 45vw;
    padding: 5vw;
    z-index: 1;
  }

  .form-title {
    color: #63c7a9;
    font-size: 1.65vw;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  p {
    color: #363636;
    font-size: 1vw;
    font-family: "Open Sans", sans-serif;
    margin: 0.2vw 1.8vw -1vw 1.8vw;
  }

  .input-form {
    border-radius: 0;
  }
  .submit-button {
    color: white;
    font-size: 0.85vw;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: 0.5vw;
    padding: 0.01vw 5vw;
    border-radius: 0;
    box-shadow: none;
  }
}
</style>