<template>
  <v-app v-cloak>
    <v-app-bar fixed flat color="#363636" height="109px" class="navbar pa-0">
      <div class="navbar-itens">
        <img class="pa-0 ma-0" src="@/assets/images/logo.png" />
        <h1>SuperGiantGames</h1>
      </div>
    </v-app-bar>
    <v-main class="mt-16">
      <HomePage />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import HomePage from "./views/HomePage.vue";

export default Vue.extend({
  name: "App",

  components: {
    HomePage,
  },

  data: () => ({
    //
  }),
});
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "@/assets/styles/media_queries.scss";

.navbar {
  .navbar-itens {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  h1 {
    font-size: 21.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-right: 30px;
  }
}
</style>
