//Navbar

@media only screen and (max-width: 414px) {
  .navbar {
    height: 13.5vw !important;
    .navbar-itens {
      img {
        margin-top: -15vw !important;
        width: 50px;
      }
      h1 {
        margin-top: -15vw !important;
        font-size: 8.5px !important;
        margin-right: 30px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .navbar {
    height: 13.8vw !important;
    .navbar-itens {
      img {
        margin-top: -20vw !important;
        width: 10vw;
      }
      h1 {
        margin-top: -19.5vw !important;
        font-size: 2vw !important;
        margin-right: 30px;
      }
    }
  }
}

// Banner

@media only screen and (max-width: 1024px) {
  .banner-card {
    margin-top: 1px !important;
    .card-text {
      font-size: 1.5vw;
      line-height: 2vw !important;
      letter-spacing: 0.04rem;
    }
  }
}
@media only screen and (max-width: 414px) {
  .bg {
    .icon {
      top: 0.7vw !important;
    }
  }
  .banner {
    margin-top: -20px !important;
    .banner-card {
      h2 {
        margin-bottom: 8px;
      }
    }
  }
}
@media only screen and (max-width: 360px) {
  .banner {
    height: 65vw !important;
    margin-top: -20px !important;
    .banner-card {
      h2 {
        margin-bottom: 8px;
      }
    }
  }
}

// Content

@media only screen and (max-width: 1024px) {
  .content {
    height: 72vw !important;

    .carousel-row {
      margin-top: 0 !important;
      margin-left: 5vw !important;
      margin-right: 6vw !important;
    }
    .box {
      height: 82vw !important;
      width: 5.87vw !important;

      .box-bg {
        height: 31vw !important;
        width: 19vw !important;
        border-radius: 2.5vw !important;

        .box-img {
          height: 72% !important;
          width: 95%;
          margin: 0 auto;
          top: -5vw !important;
          background-color: #363636;
          border-radius: 4.5vw !important;
          border: solid white 5px;

          img {
            position: relative;
            right: 4.9%;
            bottom: 4vw !important;
            width: 110%;
          }
        }
        p {
          font-size: 0.95vw !important;
          margin: -5.5vw 1vw 0 1vw !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-top: 10vw;
    height: 100vw !important;

    .carousel-row {
      margin-top: 10vw !important;
      margin: auto 0 !important;
    }
    .box {
      margin: 0 auto;
      height: 40vw !important;
      width: 30vw !important;

      .box-bg {
        margin-top: -5vw;
        height: 80% !important;
        width: 85% !important;
        border-radius: 2vw !important;

        .box-img {
          height: 86% !important;
          width: 95%;
          margin: 0 auto;
          position: relative;
          top: -8vw !important;
          border-radius: 5vw !important;
          border: solid white 0.5vw !important;

          img {
            position: relative;
            left: -1.8vw !important;
            bottom: 9vw !important;
            width: 115% !important;
          }
        }
        p {
          font-size: 1.5vw !important;
          margin: -9vw 1vw 0 1vw !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .content {
    padding-top: 20vw;
    height: 100vw !important;

    .carousel-row {
      margin-top: -20vw !important;
    }
    .box {
      height: 12vw !important;
      width: 30vw !important;

      .box-bg {
        height: 42vw !important;
        width: 100% !important;
        border-radius: 3vw !important;

        .box-img {
          height: 80% !important;
          width: 95%;
          margin: 0 auto;
          position: relative;
          top: -10vw !important;
          border-radius: 7vw !important;
          border: solid white 0.5vw !important;

          img {
            position: relative;
            left: -1.8vw !important;
            bottom: 9.8vw !important;
            width: 115% !important;
          }
        }
        p {
          font-size: 1.3vw !important;
          margin: -10vw 1vw 0 1vw !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .content {
    .carousel-row {
      margin-top: -30vw !important;
    }
  }
}
// Contact

@media only screen and (max-width: 1024px) {
  .contact-section {
    .compact-form {
      margin-left: 5vw;
      transform: scale(0.875);
      transform-origin: left;
    }
    height: 46.5vw !important;
    .form-box {
      height: 65vw !important;
    }

    .form-title {
      font-size: 1.65vw !important;
    }

    .form-text {
      font-size: 0.1vw !important;
      margin: 1vw 0;
    }

    .submit-button {
      font-size: 0.85vw !important;
      margin-left: 0.5vw;
      margin-top: -10vw;
      margin-left: 7vw !important;
      padding: 0.98vw 4vw !important;
    }
  }
}

@media only screen and (max-width: 560px) {
  .contact-section {
    .compact-form {
      margin-left: 5vw !important;
      transform: scale(0.875);
    }
    height: 46.5vw !important;
    .form-box {
      height: 68vw !important;
    }

    .form-title {
      font-size: 1.65vw !important;
    }

    .submit-button {
      font-size: 1.5vw !important;
      margin-left: 0.5vw;
      margin-top: -10vw;
      margin-left: 7vw !important;
      padding: 0.01vw 8vw !important;
    }
  }
}

@media only screen and (max-width: 414px) {
  .contact-section {
    .compact-form {
      margin-top: -15vw;
      margin-left: 5vw !important;
      transform: scale(0.575);
    }

    .form-title {
      font-size: 2vw !important;
    }

    .submit-button {
      font-size: 1.6vw !important;
      margin-left: 0.5vw;
      margin-top: -30vw;
      margin-left: 7vw !important;
      padding: 0.01vw 6vw !important;
      height: 5vw !important;
    }
  }
}

// Footer

@media only screen and (max-width: 1024px) {
  .footer-section {
    height: 100vw !important;
    background-color: #363636 !important;
    z-index: 0;

    .button-footer {
      top: 12vw;
      width: 5vw !important;
      height: 5vw !important;
    }
  }
}

@media only screen and (max-width: 414px) {
  .footer-section {
    height: 410px;
    background-color: #363636 !important;
    z-index: 0;

    .button-footer {
      margin-right: 7.448vw;
      width: 10vw !important;
      height: 10vw !important;
    }
  }
}
